<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/icons8-sql-100.png" width="30" height="30" class="d-inline-block align-top" alt="">
            MovieDB
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fiddle">SQL Fiddle</a>
            </li>
          </ul>
        </div>
      </nav>
    <h1 class="text-dark text-center mainMoviesH1 pt-5">All Movies List</h1>
    <div class="wrapper-movies tableAllMovies col-12 text-center m-auto">
        <table class="table table-striped col-md-8">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Original Title</th>
                <th scope="col">Year</th>
                <th scope="col">Rating</th>
                <th scope="col">Genre</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                <% for (let i=0; i<moviesList.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= moviesList[i].title %></td>
                        <td><%= moviesList[i].originalTitle %></td>
                        <td><%= moviesList[i].filmYear %></td>
                        <td><%= moviesList[i].filmRating %></td>
                        <td><%= moviesList[i].movieGenre %></td>
                        <td><a class="btn btn-outline-dark" href="/details/<%=moviesList[i].movieId %>">Details</a></td>
                      </tr>
                <% } %>
            </tbody>
          </table>




        <a href=" class="btn btn-outline-light col-5">Proceed to Database</a>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>